.createpost {
  width: 100%;
  background: var(--white);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 9px;
}
.createpost__top {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 5px 6px;
}
.createpost__top > p {
  font-size: 1rem;
  color: var(--FontlightBlack-x2);
  text-transform: capitalize;
}
.createpost__top span {
  flex: 1;
  text-align: left;
  background: var(--white);
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 80px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.createpost__top span:hover {
  background: var(--lightGray);
}
.createpost__top span > p {
  margin-left: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--FontlightBlack-x2);
  text-transform: capitalize;
}
.createpost__options {
  display: flex;
  padding: 10px 3%;
}
.option {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
  text-transform: capitalize;
}
.option:hover {
  background: var(--lightGray);
}
.option__img {
  width: 30px;
  height: 30px;
}
.option__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
