.home {
  width: 100%;
  height: auto;
  background: var(--samiwhite);
  display: flex;
  align-items: flex-start;
  padding: 30px 15px;
  gap: 10px;
}

@media (max-width: 820px) {
  .home {
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
  }
}

@media (min-width: 1200px) {
  .home {
    gap: 36px !important;
  }
}
