.Userinfo {
  flex: 0.2;
  height: 370px;
  background: var(--white);
  border: none;
  border-radius: 9px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.userProfile {
  width: 100%;
  padding: 15px 0 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.userProfile__img {
  width: 90px !important;
  height: 90px !important;
}

.userProfile span {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
  color: var(--Fontblack);
  transition: 0.2s ease-in-out;
}
.userProfile span:hover {
  text-decoration: underline !important;
}
.userProfile > p {
  text-transform: capitalize;
  font-size: 0.9rem;
  color: var(--blue);
  transition: 0.2s step-end;
  cursor: pointer;
}
.userProfile > p:hover {
  text-decoration: underline !important;
  text-decoration-color: var(--blue);
}
.Userinfo__options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 12px 10px;
  gap: 10px;
}

.Userinfo__options > span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--blue);
  transition: 0.2s ease-out;
  text-transform: capitalize;
  cursor: pointer;
}
.Userinfo__options span:hover {
  text-decoration: underline !important;
  text-decoration-color: var(--blue) !important;
}
.Userinfo__options span > .icon {
  font-size: 1.3rem;
  cursor: pointer;
}
