.login {
  width: 100%;
  height: 100vh;
  background: var(--samiwhite);
  user-select: none;
  position: relative;
  overflow: hidden;
}
.login__header {
  width: 100%;
  padding: 10px 5%;
}
.header__logo {
  width: 150px;
  height: 50px;
}
.login__body {
  display: flex;
  align-items: center;
  margin-top: 130px;
  padding: 0 4%;
}
.body__info {
  flex: 0.6;
}
.body__info h1 {
  color: var(--blue);
  font-size: 4rem;
  text-transform: capitalize;
}
.login__btn {
  width: 250px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  gap: 6px;
  padding: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 80px;
  background: var(--Superlightwhite);
  cursor: pointer;
  transition: 0.1s ease-out;
}
.login__btn:hover {
  transform: scale(0.95);
}
.login__btn > .icon {
  font-size: 1.4rem;
}
.login__btn > span {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--FontlightBlack);
  text-transform: capitalize;
}

.body__image {
  flex: 0.4;
  position: absolute;
  right: 2%;
}
.body__image > .imageWapper {
  width: 100%;
  height: 70vh;
}
.imageWapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 860px) {
  .body__info h1 {
    width: 100% !important;
    text-align: center !important;
    font-size: 1.1rem !important;
  }
  .body__image {
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
  .login__body {
    flex-direction: column;
    margin: 10px;
  }
  .login__btn {
    width: 300px !important;
  }
}
